<a href="https://colab.research.google.com/github/bennarthurdev/python/blob/main/Pandas_research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series é um objeto do tipo array unidimensional contendo uma sequência de valores e um array de rótulos denominado índice. Series é também

In [ ]:
from pandas import  Series, DataFrame 
import pandas as pd # dados tabulares e heterogêneos
import numpy as np #use numpy structures is, in general, more efficient of traditional python lists | dados numéricos homogêneos

In [ ]:

def getKeys(series_object):
  keys = list()
  for x , y in series_object.iteritems():
    keys.append(x)
  return keys

In [ ]:
names_list = ['Benn' , 'Bruna' , 'Renato' , 'Fátima' , 'Benjamin']
names = pd.Series(names_list)
id_list = [ "123021",  "02431023 " ,  "012431234 " ,  "01200123 " , "1204301"]
ids = pd.Series(id_list)

users = pd.DataFrame({
    "name" : names,
    "id" : ids
})
names.values
names.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
users['name'] # returns the correspodent series

0        Benn
1       Bruna
2      Renato
3      Fátima
4    Benjamin
Name: name, dtype: object

In [ ]:
%%timeit -n 10
#We can change the index atribute by referencing as a optional argument in our series
users = pd.Series(['Benn' , 'Bruna' , 'Renato' , 'Fátima' , 'Benjamin'] , index = ['Me' , 'Wife' , 'Son' , 'Mother' , 'Brother'])
#And we can create new indexes, automatically appended to Series object
users['Second Son'] = 'Noah'
#Series can be intereted as a dict object
getKeys(users)

744 µs ± 231 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## Dataframes a partir de um array bidimensional

In [ ]:
import numpy as np
rnd_list = np.random.random((2,2))
type(rnd_list)

df = pd.DataFrame(rnd_list , columns = ['col1' , 'col2'] ,index = ['row1' , 'row2'])
df

          col1      col2
row1  0.858083  0.050007
row2  0.740782  0.740949

In [ ]:
df[0:3]

          col1      col2
row1  0.858083  0.050007
row2  0.740782  0.740949

In [ ]:
row1 = df.loc['row1']
row1
type(row1)

row1[row1 > 0.5]

col1    0.858083
Name: row1, dtype: float64

In [ ]:
df.T

          row1      row2
col1  0.858083  0.740782
col2  0.050007  0.740949